body {
  background:$background;
}

// content wrapper

.wrapper {
  margin-top:2.5rem;
  min-height: calc(100vh - (3rem + 3rem));
  @include breakpoint(medium) {
    margin-top:5rem;
    min-height: calc(100vh - (3rem + 5rem));
  }
}

// start the grid

.section_wrapper {
  display:grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 1rem;
  width:96%;
  max-width:60rem;
  margin:1.5rem auto;
  @include breakpoint(medium) {
    margin:3rem auto;
  }
}

// add grid classes that span columns columns with breakpoints, as needed

.span12 {
  grid-column: span 12;
}

.span8 {
  grid-column: span 12;
  @include breakpoint(medium) {
    grid-column: span 8;
  }
}

.span6 {
  grid-column: span 12;
  @include breakpoint(medium) {
    grid-column: span 6;
  }
}

.span4 {
  grid-column: span 12;
  @include breakpoint(medium) {
    grid-column: span 4;
  }
}

// form layout

form {
  display:grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 1rem;
}

.form_half {
  grid-column: span 12;
  @include breakpoint(medium) {
    grid-column: span 6;
  }
}

.form_full {
  grid-column: span 12;
}
